# General OS and IDE things
.DS_Store

# Catch all for secret definitions
secret.yaml
secret.yml
secrets.yaml
secrets.yml
k3s.yaml

# Home Assistant Config
home-assistant/config_copy
home-assistant/config/*
!home-assistant/config/www
!home-assistant/config/*.yaml
home-assistant/config/secrets.yaml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
