# General OS and IDE things
.DS_Store
*.icloud
Thumbs.db
.idea

# k8s
kubeconfig
talosconfig

# sops
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Private
.private
.bin

# Ansible
.venv*

# Taskfile
.tasks

# Brew
Brewfile.lock.json

# wiki
wiki

# Bootstrap
/config.yaml
