# General OS and IDE things
.DS_Store
*.icloud
Thumbs.db

# k8s
kubeconfig

# sops
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key

# Ansible
xanmanning.k3s*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
