# yaml-language-server: $schema=https://mise.jdx.dev/schema/mise.json
[env]
_.python.venv = { path = "{{config_root}}/.venv", create = true }
BOOTSTRAP_DIR = "{{config_root}}/bootstrap"
KUBECONFIG = "{{config_root}}/kubeconfig"
KUBERNETES_DIR = "{{config_root}}/kubernetes"
ROOT_DIR = "{{config_root}}"
SCRIPTS_DIR = "{{config_root}}/scripts"
SOPS_EDITOR = "nano"
SOPS_AGE_KEY_FILE = "{{config_root}}/age.key"
TALOS_DIR = "{{config_root}}/talos"
TALOSCONFIG = "{{config_root}}/talos/clusterconfig/talosconfig"

[tasks.deps]
description = "Install dependencies"
run = "uv pip install -r requirements.txt"

[tools]
# Template tools
python = "3.14.3"
uv = "0.10.0"
# Operations tools
"aqua:budimanjojo/talhelper" = "3.1.4"
"aqua:cilium/cilium-cli" = "0.19.0"
"aqua:cloudflare/cloudflared" = "2026.2.0"
"aqua:FiloSottile/age" = "1.3.1"
"aqua:fluxcd/flux2" = "2.7.5"
"aqua:getsops/sops" = "3.11.0"
"aqua:go-task/task" = "3.48.0"
"aqua:helm/helm" = "4.1.0"
"aqua:helmfile/helmfile" = "1.2.3"
"aqua:jqlang/jq" = "1.8.1"
"aqua:kubernetes-sigs/kustomize" = "5.7.0"
"aqua:kubernetes/kubectl" = "1.33.2"
"aqua:mikefarah/yq" = "4.52.2"
"aqua:siderolabs/talos" = "1.12.3"
"aqua:yannh/kubeconform" = "0.7.0"
