---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.0.1/charts/library/common/values.schema.json
controllers:
  flame:
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: pawelmalak/flame
          tag: multiarch2.3.1
          pullPolicy: IfNotPresent
        envFrom:
          - secretRef:
              name: flame-secret
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 128Mi
    serviceAccount:
      identifier: flame
persistence:
  config:
    enabled: true
    existingClaim: flame
    globalMounts:
      - path: /app/data
route:
  app:
    annotations:
      gatus.home-operations.com/endpoint: |-
        group: external
    enabled: true
    hostnames:
      - "{{ .Release.Name }}.${SECRET_DOMAIN}"
      - "${SECRET_DOMAIN}"  # use flame dashboard as root domain path
    parentRefs:
      - name: external
        namespace: kube-system
        sectionName: https       # for flame.igloo.sh
      - name: external
        namespace: kube-system
        sectionName: root-https  # for igloo.sh
service:
  app:
    ports:
      http:
        port: &port 5005
        targetPort: *port
serviceAccount:
  flame: {}
