---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.4.0/charts/library/common/values.schema.json
controllers:
  home-assistant:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/home-assistant
          tag: 2026.1.3@sha256:9f094e0531e5784d1df9bcb817d95830d1da9d4a03c914f8fd1b3cc6168c4e65
        env:
          TZ: America/Los_Angeles
          HASS_HTTP_TRUSTED_PROXY_1: 192.168.20.0/24
          HASS_HTTP_TRUSTED_PROXY_2: 10.69.0.0/16
        envFrom:
          - secretRef:
              name: home-assistant-secret
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 2Gi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch
service:
  app:
    ports:
      http:
        port: 8123
route:
  app:
    annotations:
      gatus.home-operations.com/endpoint: |-
        conditions: ["[STATUS] == 200"]
    hostnames:
      - "{{ .Release.Name }}.igloo.sh"
      - hass.igloo.sh
    parentRefs:
      - name: external
        namespace: kube-system
        sectionName: https
persistence:
  config:
    existingClaim: home-assistant
    globalMounts:
      - path: /config
  config-cache:
    existingClaim: home-assistant-cache
    globalMounts:
      - path: /config/.venv
  tmpfs:
    type: emptyDir
    advancedMounts:
      home-assistant:
        app:
          - path: /config/logs
            subPath: logs
          - path: /config/tts
            subPath: tts
          - path: /tmp
            subPath: tmp
