# ref: https://github.com/grafana/helm-charts/blob/main/charts/grafana/values.yaml
deploymentStrategy:
  type: Recreate
admin:
  existingSecret: grafana-admin-secret
env:
  GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
  GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH: /tmp/dashboards/home.json
  GF_EXPLORE_ENABLED: true
  GF_FEATURE_TOGGLES_ENABLE: publicDashboards
  GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS: natel-discrete-panel,pr0ps-trackmap-panel,panodata-map-panel
  GF_SECURITY_ANGULAR_SUPPORT_ENABLED: true
  GF_SERVER_ROOT_URL: https://grafana.igloo.sh
grafana.ini:
  analytics:
    check_for_updates: false
    check_for_plugin_updates: false
    reporting_enabled: false
  auth.anonymous:
    enabled: true
    org_id: 1
    org_name: Main Org.
    org_role: Viewer
  news:
    news_feed_enabled: false
datasources:
  datasources.yaml:
    apiVersion: 1
    deleteDatasources:
      - { name: Alertmanager, orgId: 1 }
      - { name: Loki, orgId: 1 }
      - { name: Prometheus, orgId: 1 }
    datasources:
      - name: Prometheus
        type: prometheus
        uid: prometheus
        access: proxy
        url: http://prometheus-operated.observability.svc.cluster.local:9090
        isDefault: true
      - name: Loki
        type: loki
        uid: loki
        access: proxy
        url: http://loki-headless.observability.svc.cluster.local:3100
        jsonData:
          maxLines: 250
      - name: Alertmanager
        type: alertmanager
        uid: alertmanager
        access: proxy
        url: http://alertmanager-operated.observability.svc.cluster.local:9093
        jsonData:
          implementation: prometheus
dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: default
        orgId: 1
        folder: ""
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default
      - name: ceph
        disableDeletion: false
        editable: true
        folder: Ceph
        options:
          path: /var/lib/grafana/dashboards/ceph
        orgId: 1
        type: file
      - name: kubernetes
        disableDeletion: false
        editable: true
        folder: Kubernetes
        options:
          path: /var/lib/grafana/dashboards/kubernetes
        orgId: 1
        type: file
      - name: unpoller
        disableDeletion: false
        editable: true
        folder: "UniFi Poller"
        options:
          path: /var/lib/grafana/dashboards/unpoller
        orgId: 1
        type: file
dashboards:
  default:
    blackbox-exporter:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/7587/revisions/3/download
    cert-manager:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/20842/revisions/3/download
    cloudflared:
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
      url: https://grafana.com/api/dashboards/17457/revisions/6/download
    external-dns:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/15038/revisions/3/download
    node-exporter-full:
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
      url: https://grafana.com/api/dashboards/1860/revisions/42/download
    prometheus:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/19105/revisions/8/download
    unpackerr:
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
      url: https://grafana.com/api/dashboards/18817/revisions/1/download
    volsync:
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
        - name: VAR_REPLICATIONDESTNAME
          value: ".*-dst"
      url: https://grafana.com/api/dashboards/21356/revisions/3/download
  ceph:
    ceph-cluster:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/2842/revisions/18/download
    ceph-osd:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/5336/revisions/9/download
    ceph-pools:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/5342/revisions/9/download
  kubernetes:
    kubernetes-api-server:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/15761/revisions/20/download
    kubernetes-coredns:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/15762/revisions/20/download
    kubernetes-global:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/15757/revisions/43/download
    kubernetes-namespaces:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/15758/revisions/44/download
    kubernetes-nodes:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/15759/revisions/40/download
    kubernetes-pods:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/15760/revisions/37/download
    kubernetes-volumes:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/11454/revisions/14/download
  unpoller:
    unifi-insights:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/11315/revisions/9/download
    unifi-pdu:
      datasource:
        - name: DS_PROMETHEUS
          value: Prometheus
      url: https://grafana.com/api/dashboards/23027/revisions/1/download
    unifi-network-sites:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/11311/revisions/5/download
    unifi-uap:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/11314/revisions/10/download
    unifi-usw:
      datasource: Prometheus
      url: https://grafana.com/api/dashboards/11312/revisions/9/download
sidecar:
  dashboards:
    enabled: true
    searchNamespace: ALL
    label: grafana_dashboard
    folderAnnotation: grafana_folder
    provider:
      disableDelete: true
      foldersFromFilesStructure: true
  datasources:
    enabled: true
    searchNamespace: ALL
    labelValue: ""
plugins:
  - grafana-clock-panel
  - grafana-piechart-panel
  - grafana-worldmap-panel
  - natel-discrete-panel
  - pr0ps-trackmap-panel
  - vonage-status-panel
  - yesoreyeram-infinity-datasource
serviceMonitor:
  enabled: true
route:
  main:
    enabled: true
    hostnames: ["{{ .Release.Name }}.igloo.sh"]
    parentRefs:
      - name: internal
        namespace: kube-system
        sectionName: https
persistence:
  enabled: false
testFramework:
  enabled: false
